    <meta charset="utf-8">
    <title>Bootstrap Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/font-awesome/css/font-awesome.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/datatables.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-datetimepicker.css')}}">
    <script src="{{ url_for('static',filename='lib/jquery-1.11.1.min.js')}}" type="text/javascript"></script>

    <script src="{{ url_for('static',filename='lib/jQuery-Knob/js/jquery.knob.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='lib/moment.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='lib/bootstrap-datetimepicker.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".knob").knob();
        });


    </script>

    <!--<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">-->

    <!--<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>-->

    <script type="text/javascript" src="{{ url_for('static',filename='lib/datatables.min.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/theme.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/premium.css')}}">