<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="" href="index.html"><span class="navbar-brand"> MVE Receive Contact Lenses</span></a>
    </div>

    <div class="navbar-collapse collapse" style="height: 1px;">
        <ul id="main-menu" class="nav navbar-nav navbar-right">
            <li class="dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user padding-right-small"
                          style="position:relative;top: 3px;"></span> {{session['username']}}
                    <i class="fa fa-caret-down"></i>
                </a>
                {%  if session['isAuthenticated'] == True %}
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('logout') }}"><span
                            class="glyphicon glyphicon-log-out padding-right-small"></span>Logout</a></li>
                </ul>
                {% endif %}
            </li>

        </ul>

    </div>
</div>