<div class="sidebar-nav">
    <ul>
        <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i
                class="fa fa-fw fa-dashboard"></i> Dashboard<i class="fa fa-collapse"></i></a></li>
        <li>
            <ul class="dashboard-menu nav nav-list collapse in">
                 <li><a href="{{ url_for('index')}}"><span class="fa fa-caret-right"></span>Main</a></li>
                <li><a href="{{ url_for('search_po')}}"><span class="fa fa-caret-right"></span>Search Po</a></li>
                <li><a href="{{ url_for('receive_po')}}"><span class="fa fa-caret-right"></span>Receive via Po</a></li>
                <li><a href="{{ url_for('receive_items')}}"><span class="fa fa-caret-right"></span>Receive via Upc</a></li>
                <li><a href="{{ url_for('logout')}}"><span class="fa fa-caret-right"></span>Logout</a></li>
            </ul>
        </li>


    </ul>
</div>