<!doctype html>
<html lang="en">
<head>
    {% include "includes/base_includes/_basehead.html" %}
</head>

<body class=" theme-blue">

{% include "includes/base_includes/_themeinit.html" %}
{% include "includes/base_includes/_navbar.html" %}
{% if session['isAuthenticated'] == True %}
    {% include "includes/base_includes/_sidebar.html" %}
{% endif %}


<div class="content">
    {% block header %}
    {% endblock %}

    {% block maincontent %}
    {% endblock %}
</div>


<script src="{{ url_for('static',filename='lib/bootstrap/js/bootstrap.js') }}"></script>
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(function () {
        $('.demo-cancel-click').click(function () {
            return false;
        });
    });

$("#InventoryReceiveListing").on('change','.receiveidvalue',function(){
    var currentRow=$(this).closest("tr");
     var transactionID=oTable.api().row( $(this).parents('tr') ).data()[7]; // get current row 1st TD value
     var data=transactionID;
     var newQuantity=currentRow.find("input").val();
     console.log(newQuantity , data);

$.ajax({
            url: '{{url_for('updateInventoryTransactionQty')}}',
            data: {newQty : newQuantity,inventoryTransactionID : transactionID},
            type: 'POST',
            dataType : 'json',
            success: function (response) {
                console.log(response)

            },
            error: function (error) {
                console.log(error);
            }
        });
});
</script>


<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(function () {
        $('.demo-cancel-click').click(function () {
            return false;
        });
    });

$("#InventoryReceiveListing").on('change','.cost',function(){
    var currentRow=$(this).closest("tr");
     var transactionID=oTable.api().row( $(this).parents('tr') ).data()[7]; // get current row 1st TD value
     var data=transactionID;
     var newCost=currentRow.find(".cost").val();
     console.log(newCost , data);

$.ajax({
            url: '{{url_for('updateInventoryTransactionCost')}}',
            data: {newCost : newCost,inventoryTransactionID : transactionID},
            type: 'POST',
            dataType : 'json',
            success: function (response) {
                console.log(response)

            },
            error: function (error) {
                console.log(error);
            }
        });
});


$("#InventoryReceiveListing").on('change','.invoiceno',function(){
    var currentRow=$(this).closest("tr");
     var transactionID=oTable.api().row( $(this).parents('tr') ).data()[7]; // get current row 1st TD value
     var data=transactionID;
     var newInvoice=currentRow.find(".invoiceno").val();
     console.log(newInvoice , data);

$.ajax({
            url: '{{url_for('updateInventoryTransactionInvoice')}}',
            data: {newInvoice : newInvoice,inventoryTransactionID : transactionID},
            type: 'POST',
            dataType : 'json',
            success: function (response) {
                console.log(response)

            },
            error: function (error) {
                console.log(error);
            }
        });
});

</script>


</body>
</html>
