{% extends 'base.html' %}

{% block header %}
    <div class="header">
        <h1 class="page-title">Dashboard</h1>
    </div>
{% endblock %}

{% block maincontent %}
    <div class="main-content">



        <footer>
            <hr>

        </footer>
    </div>
{% endblock %}