{% extends 'base.html' %}
{% block header %}
<div class="header">
    <h1 class="page-title">Login</h1>
</div>


{% block maincontent %}

 {% endblock %}
<div class="main-content">



    <form method="post" action="{{ url_for('login')}}" class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input name="username" type="text" class="form-control" id="username" placeholder="username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input name="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button name="login" value ="login" type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </form>
            <div class="row">
                {% if errors is not none %}

                <div class="alert alert-danger">
                    {{errors}}
                </div>

                {% endif %}
            </div>

</div>
{% endblock %}