{% extends 'base.html' %}

{% block header %}
    <div class="header">
        <h1 class="page-title">Receive Contact Lens Items</h1>
    </div>
{% endblock %}

{% block maincontent %}
    <div class="main-content">
        <div class="well">
            <form class="form-inline" method="post" action="{{ url_for('receive_items') }}" role="form">
                <div class="form-group">
                    <label for="receiveidSearch" class="control-label"> Receive ID #</label>
                    <input name="receiveidSearch" id="receiveidSearch" type="text" class="form-control"
                           placeholder="Receive ID" value="{{ lastsearchedReceive }}">
                </div>
                <button name="openReceive" type="submit" class="btn btn-default">Open Receive</button>
            </form>

        </div>
        {% for poerror in poerrors %}
            <div class="alert alert-warning alert-dismissible"><a href="#" class="close" data-dismiss="alert"
                                                                  aria-label="close">&times;</a><strong>{{ poerror }}</strong>
            </div>
        {% endfor %}

        {% if  receiveheaderinfo %}
            <div class="well">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="control-label">Location</label>
                        <input name="location" id="location" type="text" class="form-control" readonly="readonly"
                               value="{{ receiveheaderinfo[0].location }}">
                    </div>
                    <div class="form-group">
                        <label for="supplier" class="control-label">Supplier</label>
                        <input name="supplier" id="supplier" type="text" class="form-control" readonly="readonly"
                               value="{{ receiveheaderinfo[0].supplier_name }}">
                    </div>
                    <div class="form-group">
                        <label for="username" class="control-label">Username</label>
                        <input name="username" id="username" type="text" class="form-control" readonly="readonly"
                               value="{{ receiveheaderinfo[0].employee_name }}">
                    </div>
                    <div class="form-group">
                        <label for="podate" class="control-label">Receive Date</label>
                        <input name="podate" id="podate" type="text" class="form-control" readonly="readonly"
                               value="{{ receiveheaderinfo[0].receive_date }}">
                    </div>
                    <div class="form-group">
                        <label for="receiveid" class="control-label">Receive ID</label>
                        <input name="receiveid" id="receiveid" type="text" class="form-control" readonly="readonly"
                               value="{{ receiveheaderinfo[0].receiveid }}">
                    </div>
                    <div class="form-group">
                        <label for="invoice_no" class="control-label">Invoice</label>
                        <input name="invoice_no" id="invoice_no" type="text" readonly="readonly" class="form-control"
                               value="{{ receiveheaderinfo[0].invoice}}">
                    </div>
                </form>
            </div>

            <div class="well">
                <form class="form-inline" method="post" action="{{ url_for('receive_items') }}" role="form">

                    <div class="form-group">
                        <label class="control-label">UPC</label>
                        <input name="upccode" id="upccode" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Quantity</label>
                        <input name="quantity" id="quantity" type="text" class="form-control">
                    </div>
                    <button name="addItem" type="submit" class="btn btn-default">Add</button>
                </form>
            </div>
                            {% for error in errors %}
                <div class="alert alert-warning alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>{{ error }}</strong></div>
            {% endfor %}
        {% else %}
            <div class="well">
                <form  class="form-inline" method="post" action="{{ url_for('receive_items') }}" role="form">
                    <div>
                    <div class="form-group">
                        <label class="control-label">Location</label>
                            <select name="location" id="location" class="form-control">
                                <option></option>
                                {% for location in create_header_data['locations'] %}
                                    <option value="{{ location.id }}">{{ location.name }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="form-group">

                        <label for="supplier" class="control-label">Supplier</label>
                            <select name="supplier" id="supplier" class="form-control">
                                <option></option>
                                {% for supplier in create_header_data.suppliers %}
                                    <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="new_invoice_no" class="control-label">Invoice</label>
                        <input name="new_invoice_no" id="new_invoice_no" type="text" class="form-control"
                               value="">
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="control-label">Username</label>
                        <input name="username" id="username" type="text" class="form-control" readonly="readonly"
                               value="{{ create_header_data['employee_name']}}">
                    </div>
                    <div class="form-group">
                        <label for="podate" class="control-label">Receive Date</label>
                        <input name="receive_date" id="receive_date" type="text" class="form-control" readonly="readonly"
                               value="{{ create_header_data['receivedate'] }}">
                    </div>
                    <div class="form-group">
                        <label for="receiveid" class="control-label">Receive ID</label>
                        <input name="receiveid" id="receiveid" type="text" class="form-control" readonly="readonly"
                               value="">
                    </div>
                <button name="createReceiveHeader" type="submit" class="btn btn-default">Create New Receive</button>
                </form>
            </div>
                {% for error in errors %}
                <div class="alert alert-warning alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>{{ error }}</strong></div>
            {% endfor %}

        {% endif %}
        <div class="table-responsive col-sm-12">

            <table id="InventoryReceiveListing" class="table table-striped" width="100%">
                <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Item Type</th>
                    <th>Item Description</th>
                    <th>Source</th>
                    <th>Notes</th>
                    <th>Quantity</th>
                    <th>Received</th>
                    <th>InventoryTransactionID</th>
                    <th>Cost</th>
                    <th>Invoice</th>
                </tr>
                </thead>
                <tbody>
                {% for item in receiveitems %}
                    <tr>
                        <td>{{ item.itemid }}</td>
                        <td>{{ item.itemtype }}</td>
                        <td>{{ item.item_description }}</td>
                        <td>{{ item.source }}</td>
                        <td>{{ item.notes }}</td>
                        <td>{{ item.Quantity }}</td>
                        <td><input name="receiveidvalue" maxlength="4" size="2" id="receivee"
                                   class="form-control receiveidvalue" value="{{ item.Received }}"></td>
                        <td>{{ item.inventoryTransactionID }}</td>
                        <td><input name="cost" maxlength="10" size="5" id="cost"  class="form-control cost"  value="{{item.cost}}"></td>
                        <td><input name="invoiceno" maxlength="20" size="15" id="invoiceno"  class="form-control invoiceno"  value="{{item.invoiceno}}"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <button name="savePo" id="savebutton" type="submit" class="btn btn-secondary btn-sm">Save</button>
        </div>

        <footer>
            <hr>

        </footer>
    </div>
    <script>
        $(document).ready(function () {
            oTable = $('#InventoryReceiveListing').dataTable({
                "order": [[7, 'asc']],
                "scrollY": "600px",
                "columnDefs": [
                    {
                        "targets": [7],
                        "visible": false
                    }
                ]
            });
        });
    </script>



{% endblock %}