{% extends 'base.html' %}

{% block header %}
    <div class="header">
        <h1 class="page-title">Receive via Purchase Order</h1>
    </div>
{% endblock %}

{% block maincontent %}
    <div class="main-content">
        <div class="well">
            <form class="form-inline" method="post" action="{{ url_for('receive_po') }}" role="form">
                <div class="form-group">
                    <label for="poSearch" class="control-label" > Purchase Order #</label>
                    <input name="poSearch" id="poSearch" type="text" class="form-control" placeholder="PO" value="{% if lastsearchedPo %}{{ lastsearchedPo }}{% endif %}">
                </div>
                 <div class="form-group">
                    <label for="newinvoiceno"class="control-label" >Invoice</label>
                    <input name="newinvoiceno" id="newinvoiceno" type="text" class="form-control"  value="">
                </div>
                <button name="createReceiveViaPO" type="submit" class="btn btn-default">Create Receive</button>
            </form>
        </div>
            <div class="well">
            <form class="form-inline" method="post" action="{{ url_for('receive_po') }}" role="form">
                <div class="form-group">
                    <label for="receiveidSearch" class="control-label" > Receive ID #</label>
                    <input name="receiveidSearch" id="receiveidSearch" type="text" class="form-control" placeholder="Receive ID" value="{% if lastsearchedReceive%}{{ lastsearchedReceive }}{% endif %}">
                </div>
                <button name="openReceive" type="submit" class="btn btn-default">Open Receive</button>
            </form>

        </div>

                <div class="well">
            <form class="form-inline" method="post" action="{{ url_for('receive_po') }}" role="form">
                <div class="form-group">
                    <label for="addPo_poSearch" class="control-label" > Receive ID #</label>
                    <input name="addPo_poSearch" id="addPo_poSearch" type="text" class="form-control" placeholder="PO ID" value="">
                </div>
                <button name="addPOToReceive" type="submit" class="btn btn-default">Add Purchase Order</button>
            </form>

        </div>
                {% for poerror in poerrors %}
                <div class="alert alert-warning alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>{{ poerror }}</strong></div>
            {% endfor %}
    {% if  poheader %}
        <div class="well">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label" >Location</label>
                    <input name="location" id="location" type="text" class="form-control" readonly="readonly" value="{{ receiveheaderinfo[0].location }}">
                </div>
                <div class="form-group">
                    <label for="supplier"class="control-label" >Supplier</label>
                    <input name="supplier" id="supplier" type="text" class="form-control" readonly="readonly" value="{{ receiveheaderinfo[0].supplier_name }}">
                </div>
                <div class="form-group">
                    <label for="username"class="control-label" >Username</label>
                    <input name="username" id="username" type="text" class="form-control" readonly="readonly" value="{{ receiveheaderinfo[0].employee_name }}">
                </div>
                <div class="form-group">
                    <label for="podate"class="control-label" >Receive Date</label>
                    <input name="podate" id="podate" type="text" class="form-control" readonly="readonly" value="{{ receiveheaderinfo[0].receive_date }}">
                </div>
                <div class="form-group">
                    <label for="receiveid" class="control-label" >Receive ID</label>
                    <input name="receiveid" id="receiveid" type="text" class="form-control" readonly="readonly" value="{{ receiveheaderinfo[0].receiveid }}">
                </div>
                <div class="form-group">
                    <label for="header_invoice" class="control-label" >Invoice </label>
                    <input name="header_invoice" id="header_invoice" type="text" class="form-control" readonly="readonly" value="{{ receiveheaderinfo[0].invoice }}">
                </div>
            </form>
        </div>
    {% endif %}
    <div class="table-responsive col-sm-12">

                <table id="InventoryReceiveListing" class="table table-striped" width="100%">
                    <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Item Type</th>
                        <th>Item Description</th>
                        <th>Source</th>
                        <th>Notes</th>
                        <th>Quantity</th>
                        <th>Received</th>
                        <th>InventoryTransactionID</th>
                        <th>Cost</th>
                        <th>OrderID</th>
                        <th>PO_NO</th>
                        <th>PO Status</th>
                        <th>LocationID</th>
                        <th>Invoice</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if poitems %}
                    {% for poitem in poitems %}
                    <tr>
                        <td>{{poitem.itemid}}</td>
                        <td>{{poitem.itemtype}}</td>
                        <td>{{poitem.item_description}}</td>
                        <td>{{poitem.source}}</td>
                        <td>{{poitem.notes}}</td>
                        <td>{{poitem.Quantity}}</td>
                        <td><input name="receiveidvalue" maxlength="4" size="2" id="receivee"  class="form-control receiveidvalue"  value="{{poitem.Received}}"></td>
                        <td>{{poitem.inventoryTransactionID}}</td>
                        <td><input name="cost" maxlength="10" size="5" id="cost"  class="form-control cost"  value="{{poitem.cost}}"></td>
                        <td>{{poitem.orderid}}</td>
                        <td>{{poitem.po_no}}</td>
                        <td>{{poitem.purchase_order_status}}</td>
                        <td>{{poitem.locationid_to}}</td>
                        <td><input name="invoiceno" maxlength="20" size="15" id="invoiceno"  class="form-control invoiceno"  value="{{poitem.invoiceno}}"></td>

                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>

     <button name="savePo" id="savebutton" type="submit"  class="btn btn-secondary btn-sm">Save</button>
            </div>

        <footer>
            <hr>

        </footer>
    </div>
         <script>
            $(document).ready(function () {
                oTable = $('#InventoryReceiveListing').dataTable({
                    "order":[[7, 'asc']],
                    "scrollY": "600px",
                    "columnDefs": [
                        {
                            "targets": [7],
                            "visible": false
                        }
                        ],
                    'iDisplayLength': 100
                });
            });
            </script>
{% endblock %}