{% extends 'base.html' %}

{% block header %}
    <div class="header">
        <h1 class="page-title">Search for Purchase Order</h1>
    </div>
{% endblock %}

{% block maincontent %}
    <div class="main-content">
        <div class="well">
            <form class="form-inline" method="post" action="{{ url_for('search_po') }}" role="form">
                <div class="form-group">
                    <label for="poSearch" class="control-label" > Purchase Order #</label>
                    <input name="poSearch" id="poSearch" type="text" class="form-control" placeholder="PO" value="{{ lastsearchedPo }}">
                </div>
                <button name="posearch" type="submit" class="btn btn-default">Submit</button>
            </form>
            {% for poerror in poerrors %}
                <div class="alert alert-warning alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>{{ poerror }}</strong></div>
            {% endfor %}
        </div>
        <div class="well">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label" >Location</label>
                    <input name="location" id="location" type="text" class="form-control" readonly="readonly" value="{{ poheader[0].location }}">
                </div>
                <div class="form-group">
                    <label for="supplier"class="control-label" >Supplier</label>
                    <input name="supplier" id="supplier" type="text" class="form-control" readonly="readonly" value="{{ poheader[0].supplier_name }}">
                </div>
                <div class="form-group">
                    <label for="username"class="control-label" >Username</label>
                    <input name="username" id="username" type="text" class="form-control" readonly="readonly" value="{{ poheader[0].username }}">
                </div>
                <div class="form-group">
                    <label for="podate"class="control-label" >PO Date</label>
                    <input name="podate" id="podate" type="text" class="form-control" readonly="readonly" value="{{ poheader[0].podate }}">
                </div>
                <div class="form-group">
                    <label for="poid"class="control-label" >PO ID</label>
                    <input name="poid" id="poid" type="text" class="form-control" readonly="readonly" value="{{ poheader[0].poid }}">
                </div>
                <div class="form-group">
                    <label for="status"class="control-label" >PO Status</label>
                    <input name="status" id="status" type="text" class="form-control" readonly="readonly" value="{{ poheader[0].status }}">
                </div>
                <div class="form-group">
                    <label for="receiveid" class="control-label" >Receive ID</label>
                    <input name="receiveid" id="receiveid" type="text" class="form-control" readonly="readonly" value="{{ poheader[0].inventory_recieve_id }}">
                </div>
            </form>
        </div>
    <div class="table-responsive col-sm-12">
                <table id="poItemsListing" class="table table-striped" width="100%">
                    <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Item Type</th>
                        <th>Item Description</th>
                        <th>Source</th>
                        <th>Quantity</th>
                        <th>Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for poitem in poitems %}
                    <tr>
                        <td>{{poitem.itemid}}</td>
                        <td>{{poitem.itemtype}}</td>
                        <td>{{poitem.item_description}}</td>
                        <td>{{poitem.source}}</td>
                        <td>{{poitem.quantity}}</td>
                        <td>{{poitem.notes}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        <footer>
            <hr>

        </footer>
    </div>
         <script>
            $(document).ready(function () {
                $('#poItemsListing').dataTable({
                    "order":[[0, 'desc']],
                    "scrollY": "400px"
                });
            });
            </script>
{% endblock %}